<br>
<br>
<div class="indexMain">

  <section id="welcomeSection">
    <h1> How Clean Is My Favorite Chicago Restaurant? </h1>
    <form action="/restaurant/submit" method="POST">
      <p><input type="text" id="ca" name="DBA_NAME" class="mytext form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Restaurant Name'"
          placeholder="Enter Restaurant Name" pattern="[^@#$%^*!()_+-={}|;:<>./?\x22\x5b\x5d\x5c]+" 1 Comment required></p>
          <div id="selects">
            <span id="select1Div" class="float-right" style="float:left;margin-right:150px;">
              <select class="btn btn-primary dropdown-toggle" name="firstSelect" id="firstSelect">
                <option>All Neighborhoods</option>
              </select>
              </span>
          </div>
      <p class="submit-btn">
        <button class="btn btn-lg btn-danger" type="submit">I'm feeling risky</button>
      </p>
    </form>
    {{!-- <p class="sub-heading">See information on cleanliness and inspections</p> --}}

  </section>
  <br>
  <br>

  <section id="whySection">
    <h1> Why Should You Care?</h1>
    <br>
    <h4>Foodborne disease is a common, but preventable, burden of illness worldwide. Almost one-half of every dollar spent on food in the United States is spent on food from restaurants. According to the CDC, each year roughly 48 million people get sick from foodborne illness, 128,000 are hospitalized, and 3,000 die. Out of 21,083 inspections from August 1, 2016 through August 1, 2017, the Chicago Department of Public Health’s Food Protection Program issued 4,000 failed inspection tests and 2,176 passed with conditions. That's close to 1/3 of all inspection test not passing every requirement! </h4>
    <br>
    <hr>    
    <h1> How Restaruants Are Rated. </h1>
    <br>
    <h4>The Chicago Department of Public Health’s Food Protection Program inspects all restaurants multiple times in a fiscal year. Restaurants are given a pass, fail, pass with conditions, out of business, no entry, or not ready result while being attached to a risk level of 1(High Risk) through 3(Low Risk) of contamination.</h4>

  </section>
  <br>
  <br>

  <section id="chart-info">
    <h1>Restaurant Inspection Data</h1>
    <br>
    <div class="chart-container">
  <canvas id="myChart" width="100" height="50"></canvas>
    </div>

  </section>

  <br>
  <br>


  <section id="instructionSection">
    <h1> Simple Instructions </h1>
      <br>
      <ol class="instruction-list">
        <h4>1. Enter the restaurant and the neighborhood of that restaurant.</h4>
        <br>
        <h4>2. Click <button class="btn btn-lg btn-danger">I'm feeling risky</button>.</h4>
        <br>
        <h4>3. (Optional)Choose which neighborhood <select class="btn-primary dropdown-toggle"><option>All Neighborhoods</option> </select></h4>
        <br>
        <h4>4. Find which restaurant you are looking for in the table and select <button class="btn btn-danger" type="submit">More Info</button>.</h4>
        <br>
        <h4>5. This page indicates when that restaurant was inspected, results, and risk level.</h4>
        <br>
        <h4>6. Leave comments on experences that you have had with that restaurant!</h4>
      </ol>
  </section>

  <br>
  <br>

</div>
</div>
</div>

<script>
  var myChart = document.getElementById('myChart').getContext('2d');

  //Global Options
  Chart.defaults.global.defaultFontFamily = '"Lucida Sans Unicode", "Lucida Grande", sans-serif';
  Chart.defaults.global.defaultFontSize = 14;
  Chart.defaults.global.defaultFontColor = '#d35400';

  var inspectionChart = new Chart(myChart,{
    type: 'bar',
    data:{
      labels:['Pass', 'Fail', 'Pass w/ Conditions', 'Out of Business', 'No Entry', 'Not Ready'],
      datasets:[{
        data:[
        12100,
        4000,
        2176,
        1376,
        1079,
        352,
        ],
        backgroundColor:[
        '#16a085',
        '#e74c3c',
        '#8e44ad',
        '#7f8c8d',
        '#f1c40f',
        '#ecf0f1'
        ],
        borderWidth:1,
        borderColor:'#777',
        hoverBorderWidth:2,
      }]
    },
    options:{
      title: {
        display: true,
        text: 'August 1, 2016 - August 1, 2017',
        fontSize: 18
      },
      legend:{
        display:false,
      }

    }
  });
</script>

<script>
  var options1 = ['Alta Vista Terrace','Ashburn','Austin','Beverly','Brighton Park','Bronzeville','Bucktown','Canaryville','Cathedral District','Central Station','Chatham','Chicago Lawn','Lincoln Park','Douglas','Edgewater Glen','Edison Park','Englewood','Garfield Ridge','Gold Coast','Hegewisch','Hermosa','Kenwood','Lakeview','Lincoln Square','Loop','Lower West Side','Middle Edgebrook','Near North Side','Near West Side','Noble Square','North Center','Ohare','Old Edgebrook','Old Irving Park','Peterson Park','Portage Park','Pullman','Riverdale','Rogers Park','Schorsch Forest View','South Chicago','South Lawndale','South Shore','Suburbs','Tri-Taylor','Uptown','West Englewood','West Garfield Park','West Loop','West Ridge','West Town','Woodlawn'];
  var options2 = ['60613','60620,60652','60644,60651','60643,60655','60632','60653','60647','60609','60611','60605','60619','60629','60614','60616','60660','60631','60621','60638','60610','60633','60639','60615','60657','60625','60601,60602,60603,60604','60608','60630','60654','60606,60661','60622','60618','60666','60646','60641','60659','60634','60628','60627','60626','60656','60617','60623','60649','60007,60015,60018,60022,60044,60047,60076,60077,60107,60108,60126,60148,60153,60155,60176,60193,60201,60202,60302,60402,60406,60409,60411,60423,60429,60440,60453,60458,60461,60477,60478,60482,60501,60540,60559,60706,60707,60714,60803,60804,60805,60827','60612','60640','60636','60624','60607','60645','60642','60637']
  for (var i = 0; i < options1.length; i++) {
    var opt = document.createElement('option');
    opt.value = options2[i];
    opt.text = options1[i];
    firstSelect.options.add(opt);
  }
</script>
