<div class="inner cover">
  <h1 class="cover-heading">Discover the health risks of your favorite restaurants</h1>
  <p class="lead"></p>
  <form action="/restaurant/submit" method="POST">
    <label class="center" for="ca"></label>
    <p><input type="text" id="ca" name="DBA_NAME" class="mytext" placeholder="Enter Restaurant Name" required autofocus></p>
    <p class="lead">
      <button class="center btn btn-success" type="submit">I'm feeling risky</button>
    </p>
  </form>
</div>
