<div id="map"></div>
    Hi!
	<script src="/script.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIx6A_0jfINJIWsZAC3ySIfGTM4gsfnGY&callback=initMap"></script>
