<br>
<h1>Check your risk:</h1>
<hr>
<div class="container-fluid">
{{!-- <h3>Restaurants:</h3> --}}


 <table class="table table-hover text-left">
    <tbody>
  {{#each restaurant}}
  <h2>{{this.DBA_NAME}}</h2>
      <tr>
       <td>{{this.USERNAME}}</td>
       <td>{{this.COMMENT}}</td>
       {{!-- <td>{{this.COMMENT_DATE}}</td> --}}
      </tr>
  {{/each}}
    </tbody>
</table>
</div>

<div class="container-fluid">
<form method="get" action="/">
    <button class="center btn btn-danger" type="submit">Go Back</button>
</form>
</div>